defmodule <%= module_prefix %>.Repo.Migrations.CreateHistoryTokens do
  use Ecto.Migration

  def change do
    create table(:tokens<%= if not is_nil(db_prefix), do: ", prefix: \"#{db_prefix}\"" %>) do
      add :name, :string
      add :symbol, :string

      timestamps()
    end

    create unique_index(:tokens, [:name, :symbol])
  end
end
