<div class="flex items-center space-x-4">
  <h2 class="text-3xl">Data</h2>
</div>
<%= render GhostWeb.DataView, "_nav.html", conn: @socket %>

<div class="mt-4">
  <h2 class="text-2xl">Overview</h2>

  <div>
    TODO...
  </div>
</div>

<div class="mt-4">
  <h2 class="text-2xl">Health Check</h2>

  <div>
    TODO...
  </div>
</div>
