<div class="space-x-4">
  <%= render GhostWeb.DataView, "_header.html", conn: @socket, section: "Funding Rates" %>
</div>
<%= render GhostWeb.DataView, "_nav.html", conn: @socket %>

<div>
  TODO...
</div>
